
*{
  box-sizing: border-box;
}
.language{
  float:right;
  height: 30px;
  color:gray;
  line-height:30px;
  padding-top:10px;
  font-size:1rem;
}

.header{
  /*background-color: white;-->*/
  border-bottom:3px solid white;
  height: 40px;
  position:fixed;
  top:0px;
  width:97%;
  z-index: 10;

}

.btn{
  margin-top:7px;
  padding:0px 10px;
  height: 30px;
  width:100px;
  color:white;
  display:inline-block;
  opacity:0.7;
  background-color:#3cb371;
  border-radius:4px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 4px;
  text-decoration: none;
}

.btn:hover{
  opacity:1;
}

.contents{
width:97%;
background-color:rgba(60,179,113,0.2);
font-family:sans-serif;
margin-top:0px;
padding:20px 20px 10px 30px;
height:auto;
}

.caption{
  font-size:30px;
  color:dimgray;
  margin-top:0px;
  margin-bottom:20px;
  margin-left:-20px;
  margin-right:-30px;
}

.caption span{
  font-size:20px;
}
.paper{
  font-size:20px;
  color:gray;
  text-indent:0.5em;
}

.paper li{
  font-size:15px;
  color:gray;
  letter-spacing: 0.1px;
  text-indent:-1em;
  padding-left:1em;
  padding-top:0.5em;
}

.blank{
  height:40px;
  background-color:white;
}

.blank2{
  height:1000px;
  background-color:white;
}


.profileAll{
  width:100%;
  position:relative;
  font-size:small;
  text-align: left;

}

.profcontent{
display:inline-block;
vertical-align: top;
}

.profphoto{
width:30%;
height:width*1;
}

.photo{
  width:100%;
  /*max-height:30%;*/
  height:auto;
}
.profletter{
/*position:absolute;
top:0px;
left:35%;*/
width:65%;
}

.profletter li{
  list-style: none;
  color:dimgray;
  margin-bottom:0.5em;
}

.link{
  text-decoration: none;
  color:dimgray;
}

.link:hover{
  color:rgba(60,179,113,1.0);
  opacity:0.5;
}

.profindex{
  text-indent:0em;
  font-size:large;
  padding-top:1em;
}

.profdetail{

  padding-left:1em;
}
