
*{
  box-sizing: border-box;
}
.language{
  float:right;
  height: 3vmin;
  color:gray;
  line-height:3vmin;
  padding-top:2vmin;
  font-size:2vw;
}

.header{
  background-color: rgba(255,255,255,0.7);
  border-bottom:0.5vmin solid white;
  height: 5vw;
  position:fixed;
  top:0px;
  width:97%;
  z-index: 10;

}

.btn{
  font-size:2vw;
  margin-top:0.5Vh;
  padding:0Vw 0.5Vw;
  height: 4Vw;
  width:20vw;
  color:white;
  display:inline-block;
  opacity:0.7;
  background-color:#3cb371;
  border-radius:0.5Vw;
  text-align: center;
  line-height:4Vw;
  letter-spacing: 0.5Vw;
  text-decoration: none;
}

.btn:hover{
  opacity:1;
}

.contents{
width:97%;
background-color:rgba(60,179,113,0.2);
font-family:sans-serif;
margin-top:0Vw;
padding:1Vw 2Vw 2Vw 3Vw;
height:auto;
}

.caption{
  font-size:2Vw;
  color:dimgray;
  margin-top:0Vw;
  margin-bottom:1Vw;
  margin-left:-2Vw;
  margin-right:-2Vw;
}

.caption span{
  font-size:1.5Vw;
}
.paper{
  font-size:2Vw;
  color:gray;
  text-indent:0.5em;
}

.paper li{
  font-size:1.5Vw;
  color:gray;
  letter-spacing: 0Vw;
  text-indent:-1em;
  padding-left:1em;
  padding-top:0.5em;
}

.blank{
  height:5vw;
  background-color:white;
}

.blank2{
  height:30Vw;
  background-color:white;
}


.profileAll{
  width:100%;
  position:relative;
  font-size:1.5Vw;
  text-align: left;

}

.profcontent{
display:inline-block;
vertical-align: top;
}

.profphoto{
width:30%;
height:width*1;
}

.photo{
  width:100%;
  /*max-height:30%;*/
  height:auto;
}
.profletter{
/*position:absolute;
top:0px;
left:35%;*/
width:65%;
}

.profletter li{
  list-style: none;
  color:dimgray;
  margin-bottom:0.5em;
}

.link{
  text-decoration: none;
  color:dimgray;
}

.link:hover{
  color:rgba(60,179,113,1.0);
  opacity:0.5;
}

.profindex{
  text-indent:0em;
  font-size:2Vw;
  padding-top:1em;
}

.profdetail{

  padding-left:1em;
}

.footer{
  color:dimgray;
  font-size:1.5Vw;
  background-color:white;
  border-top:0.5vmin solid gray;
  height: 5vw;
  width:100%;
}

.footer a{
  text-decoration:none;
  color:dimgray;
}

.footer a:hover{
  opacity:0.5;
}
